In [2]:
import pandas as pd
import matplotlib as mat
import numpy as np

Disponemos de una comparativa de la espectativa de vida por sexo desde   1950 al 2021

DATAFRAME COMPLETO DE LOS DATOS COMPARATIVOS DE LA ESPERANZA DE VIDA  MUJER-HOMBRE MUNDIAL

In [4]:
df = pd.read_csv("life-expectancy-of-women-vs-life-expectancy-of-women.csv")
df

,Entity,Code,Year,Life expectancy - Sex: female - Age: at birth - Variant: estimates,Life expectancy - Sex: male - Age: at birth - Variant: estimates,Population - Sex: all - Age: all - Variant: estimates,Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1950,28.400000,27.100000,7480464.0,NaN
2,Afghanistan,AFG,1951,28.600000,27.400000,7571542.0,NaN
3,Afghanistan,AFG,1952,29.100000,27.799999,7667534.0,NaN
4,Afghanistan,AFG,1953,29.600000,28.299999,7764549.0,NaN
...,...,...,...,...,...,...,...
18404,Zimbabwe,ZWE,2018,63.599998,59.000000,15052191.0,NaN
18405,Zimbabwe,ZWE,2019,63.700001,58.599998,15354606.0,NaN
18406,Zimbabwe,ZWE,2020,63.900002,58.099998,15669663.0,NaN
18407,Zimbabwe,ZWE,2021,62.000000,56.200001,15993525.0,NaN
18408,Åland Islands,ALA,2015,NaN,NaN,NaN,Europe

PROCEDEREMOS A QUEDARNOS CON LOS PAISES DE INTERES PARA NUESTRO ESTUDIO